.App {
  min-height: 100%;
  background-color: #282c34;
  color: white;
  padding: 1rem;
}

.App h1,
.App h2,
.App p {
  text-transform: capitalize;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.App section:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
}
